### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Flask stuff:
instance/
.webassets-cache

# Editors
.vscode/
.idea/

# Custom data directory
uploads/*
# /.log_LSTM模型运行数据
Final Porject/

#The pinyin translation module
Somiao-Pinyin-master/

#labels.txt
0_Webapp-braille-vision\runs\detect\predict\labels.txt



