{% extends "base.html" %} {% block content %}

<div class="main">
  <div class="title">
    <h3>Vision Braille<br>盲文->汉字深度学习转换器</h3>
    <!-- <p>
      <small>A web app demo</small>
    </p> -->
  </div>

  <p align="center">
    📃 <a href="https://arxiv.org/" target="_blank">[Paper]</a> • 💻 <a href="https://github.com/" target="_blank">[Github]</a> • 🤗 <a href="https://huggingface.co/datasets/Violet-yo/Chinese-Braille-Dataset-10per-Tone" target="_blank">[Dataset]</a> • ⚙️ <a href="https://huggingface.co/Violet-yo/mt5-small-ft-Chinese-Braille" target="_blank">[Model]</a> • 🎬 <a href="https://vision-braille.com/" target="_blank">[Demo]</a>
  </p>
  
  <!-- Include about us -->
  
  <!-- <a href="https://github.com/AlanYWu/Chinese-Braille-to-Chinese-Characters">GitHub User Documentation and Introduction</a> -->

  <p align="center">
    📃 <a href="https://arxiv.org/" target="_blank">[Paper]</a> • 💻 <a href="https://github.com/" target="_blank">[Github]</a> • 🤗 <a href="https://huggingface.co/datasets/Violet-yo/Chinese-Braille-Dataset-10per-Tone" target="_blank">[Dataset]</a> • ⚙️ <a href="https://huggingface.co/Violet-yo/mt5-small-ft-Chinese-Braille" target="_blank">[Model]</a> • 🎬 <a href="https://vision-braille.com/" target="_blank">[Demo]</a>
  </p>
  

<!-- Add this div where you want to display the example images -->
<div id="example-images">
  {% for image_file in image_files %}
    <button type="button" onclick="selectImage('{{ url_for('static', filename='example_data/' + image_file) }}')">
        <img src="{{ url_for('static', filename='example_data/' + image_file) }}" height="200" alt="Example image">
    </button>
  {% endfor %}
</div>

<!-- Modify your form to include a hidden input field for the selected image -->
<!-- <form id="example-data-form" method="post" enctype="multipart/form-data"> -->
  <!-- <input type="hidden" id="selected-image" name="selected_image"> -->
  <!-- <input type="file" id="example-data-file" name="file" onchange="previewFile_example()"> -->
  <!-- <input type="submit" value="Submit Example Data"> -->
<!-- </form> -->

  <div class="panel">
    <input id="file-upload" class="hidden" type="file" accept="image/x-png,image/gif,image/jpeg" />
    <label for="file-upload" id="file-drag" class="upload-box">
      <div id="upload-caption">Drop image here or click to select</div>
      <img id="image-preview" class="hidden" />
    </label>
  </div>
  <div style="margin-bottom: 2rem;">
    <input type="button" value="Submit" class="button" onclick="submitImage();" />
    <input type="button" value="Clear" class="button" onclick="clearImage();" />
  </div>

  <div id="image-box">
    <img id="image-display" />
    <div id="pred-result" class="hidden"></div>
    <svg id="loader" class="hidden" viewBox="0 0 32 32" width="32" height="32">
      <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
    </svg>
  </div>

  <div id="pred-result-cnp" class="hidden"></div>
  <div id="pred-result-eng" class="hidden"></div>

  
</div>

<!--- 翻译 --->>
<div style="display: flex; justify-content: center; align-items: center; height: 5vh;">
  <form id="input-form">
    <input type="text" id="user-input" placeholder="Enter your pinyin input here">
    <p>The translation process takes about 10 seconds</p>
    <button type="button" onclick="py_translate(document.getElementById('user-input').value); document.getElementById('user-input').value = '';">Send</button>
  </form>
  
</div>

<div id="result"></div>  
<!-- 这里应该怎么改？ -->
{% endblock %}
